@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #c5e4e7;
}

body .header {
  line-height: 1.4;
  letter-spacing: 0.7rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  color: #00474b;
}

body .header2 {
  font-weight: 600;
  font-family: "Space Mono", monospace;
  color: #5e7a7d;
}

body .paddingCont {
  width: 880px;
  height: 440px;
  background-color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

body .paddingCont .mainGrid {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid: "leftGrid   results" 1fr / 1fr 1fr;
  grid-gap: 0 28px;
}

body .paddingCont .mainGrid .leftGrid {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .paddingCont .mainGrid .leftGrid .billInput {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .paddingCont .mainGrid .leftGrid .tipInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid {
  padding: 10px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid .perButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00474b;
  color: white;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 800;
  border-radius: 10px;
  height: 3rem;
  width: 100%;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid .perButton:hover {
  background-color: #25C3AC;
  color: #00474b;
  cursor: pointer;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid ::-webkit-input-placeholder {
  color: #00474b;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid :-ms-input-placeholder {
  color: #00474b;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid ::-ms-input-placeholder {
  color: #00474b;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid ::placeholder {
  color: #00474b;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid .perCustom {
  border-radius: 15px;
  text-align: center;
  border: none;
  color: #00474b;
  background-color: #f3f8fb;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid .perCustom:hover {
  border-radius: 15px;
  background-color: white;
  color: #00474b;
  outline-color: #25C3AC;
}

body .paddingCont .mainGrid .leftGrid .tipInput .perGrid .perCustom:focus {
  outline: 3px solid;
  outline-color: #25C3AC;
}

body .paddingCont .mainGrid .leftGrid .peopleInput {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .paddingCont .mainGrid .leftGrid .inputBP {
  text-align: right;
  border: none;
  background-color: #f3f8fb;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  color: #00474b;
  font-weight: 800;
}

body .paddingCont .mainGrid .leftGrid .inputBP:focus {
  outline-color: #9FE8DF;
}

body .paddingCont .mainGrid .results {
  background-color: #00474b;
  border-radius: 25px;
  grid-area: results;
  padding: 10% 10%;
}

body .paddingCont .mainGrid .results .resultsGrid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid: "tipResult" 1fr "totalResult" 1fr "." .2fr "resetResult" 1fr;
}

body .paddingCont .mainGrid .results .resFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

body .paddingCont .mainGrid .results .resFlex .headerRes {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Space Mono", monospace;
}

body .paddingCont .mainGrid .results .resFlex .resNum {
  font-size: 3rem;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  color: #25C3AC;
}

body .paddingCont .mainGrid .results .tipResult {
  grid-area: tipResult;
}

body .paddingCont .mainGrid .results .totalResult {
  grid-area: totalResult;
}

body .paddingCont .mainGrid .results .resetResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-area: resetResult;
}

body .paddingCont .mainGrid .results .resetResult .resetButton {
  text-align: center;
  background-color: #25C3AC;
  font-family: "Space Mono", monospace;
  width: 100%;
  padding: 10px 0px;
  font-weight: 600;
  color: #00474b;
  font-size: 1.5rem;
  border-radius: 15px;
}

body .paddingCont .mainGrid .results .resetResult .resetButton:hover {
  cursor: pointer;
  background-color: #C5E4E7;
}
/*# sourceMappingURL=style.css.map */